body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/342/544/large_2x/musical-notes-seamless-pattern-background-vector-illustration.jpg");
  margin-left: 10%;
  margin-right: 10%;
}
h3 {
  text-align: center;
}
div.item {
  background: rgb(0, 115, 255);
  padding: 20px;
  font-size: 1.2em;
  font-weight: 900;
  color:black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height: 100px;
    width: 100px;
   
    margin: auto;
}
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header header "
    "content content"
    "content content "
    "content content "
    "footer footer ";
}

/* .keyboard-nav{
      margin: auto;
      width:
  } */

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: content;
}

.item-3 {
  grid-area: footer;
}
.item.5 {
  grid-area: content;
}

/* .size {
    width: 250px;
    height: 250px;
    justify-content: center;
    float: left;
    padding: 10px;
  } */

#out-div {
  width: 100%;
}
.size {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;

  margin: 10px;
  padding: 5px;
  box-shadow: 2px 2px 10px black;
}
h2 {
  color: white;
}
.fa-facebook-square {
  font-size: 5em;
}
.fa-twitter-square {
  font-size: 5em;
}
.fa-instagram {
  font-size: 5em;
}
.fa-soundcloud {
  font-size: 5em;
}
.fa-spotify {
  font-size: 5em;
}

li {
  display: inline;
  padding: 20px;
}
ul {
  margin-left: 0px;
}
footer {
  width: 1000px;
}
