/* ///////////////////////////////// */
/* ////////// Variables //////////// */
/* ///////////////////////////////// */

:root {
  /* ///// Main Colors ///// */

  --blue: rgb(70, 50, 241);
  --purple: rgb(80, 9, 138);
  --orange: rgb(255, 136, 0);
  --yellow: rgb(255, 238, 0);

  /* Main Primary color */

  --red-primary-0: rgba(252, 36, 47, 1);
  --red-primary-1: rgba(253, 174, 178, 1);
  --red-primary-2: rgba(252, 95, 103, 1);
  --red-primary-3: rgba(252, 0, 13, 1);
  --red-primary-4: rgba(202, 0, 10, 1);

  /* Main Secondary color (1) */

  --orange-secondary-1-0: rgba(255, 131, 36, 1);
  --orange-secondary-1-1: rgba(255, 210, 175, 1);
  --orange-secondary-1-2: rgba(255, 165, 96, 1);
  --orange-secondary-1-3: rgba(255, 111, 0, 1);
  --orange-secondary-1-4: rgba(206, 89, 0, 1);

  /* Main Secondary color (2) */

  --aqua-secondary-2-0: rgba(27, 193, 181, 1);
  --aqua-secondary-2-1: rgba(151, 219, 214, 1);
  --aqua-secondary-2-2: rgba(75, 197, 188, 1);
  --aqua-secondary-2-3: rgb(4, 179, 167);
  --aqua-secondary-2-4: rgba(0, 127, 117, 1);

  /* Main Complementary color */

  --green-complement-0: rgba(50, 226, 32, 1);
  --green-complement-1: rgba(171, 238, 164, 1);
  --green-complement-2: rgba(100, 228, 86, 1);
  --green-complement-3: rgba(21, 219, 0, 1);
  --green-complement-4: rgba(16, 169, 0, 1);

  /* //// borders ///// */

  --sm-border-black: 1px solid #333;
  --md-border-black: 5px solid #333;
  --lg-border-black: 10px solid #333;
  --xl-border-black: 15px solid #333;

  /* ///////// default box-shadow ////////// */
  --shadow: 1px 1px 8px 1px rgba(112, 112, 112, 0.76);
}
